<div class="container border rounded shadow block col-lg-4 p-3">
    <form #f ="ngForm" [formGroup]="form">
        <div class="form-group mb-3">
            <label for="nombreReceta">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombreReceta"  placeholder="Título de la receta"
              >
          </div>

        <button [disabled]="!f.form.valid" type="button" (click)="mostrarAddIngrediente(f.form)" class="btn btn-primary">Añadir ingredientes</button>

        <div *ngIf="f.form.valid" class="container box">
          <app-agregar-ingrediente [nombreReceta]="form.value['nombre']" (nuevoIngredienteEvent)="addIngrediente($event)"></app-agregar-ingrediente>
        </div>

      </form>
</div>

<div class="container border rounded shadow block col-lg-4 p-3">
  <span>Ingredientes</span>
  <ul>
    <li *ngFor="let item of listadoIngredientes">
      {{item}}
    </li>
  </ul>

  <div class="row">
    <button *ngIf="listadoIngredientes.length" (click)="guardarReceta()" type="button" class="btn btn-primary">Guardar Receta</button>
  </div>

</div>




