<div class="container mt-3">
    <div class="row text-center">
        <span>Datos de producto</span>
    </div>
</div>

<div class="container">
   <form>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre producto</mat-label>
        <input matInput placeholder="Introduce el nombre" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Calorias</mat-label>
        <input type="number" matInput placeholder="Introduce las calorias" value="">
    </mat-form-field>
      
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Proteinas</mat-label>
        <input type="number" matInput placeholder="Introduce las proteinas" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Grasas</mat-label>
        <input type="number" matInput placeholder="Introduce las grasas" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Hidratos de carbono</mat-label>
        <input type="number" matInput placeholder="Introduce los hidratos de carbono" value="">
    </mat-form-field>

    <button type="success" class="btn btn-primary">Primary</button>

    </form> 
</div>

