<div class="container">
    <div class="row text-center">
        <p>navbar works!</p>
    </div>

    
    <div class="row">
        <div class="d-flex justify-content-around">            
            <section>
                <div class="example-label">Basic</div>
                <div class="example-button-row">
                 
                  <a mat-button routerLink="/add" >Añadir producto</a>
                  <!--<a mat-button >------</a>
                  <a mat-button >------</a>
                  <a mat-button >------</a>
                  <a mat-button >------</a>-->
                </div>
            </section>
        </div>
    </div>
</div>