.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background-color: rgb(31, 175, 211);
  color: white;
  font-weight: bold;
}

.activo{
  background-color: rgb(31, 211, 136);
  color: rgb(124, 124, 124);
}

.dropdown-item{
  font-size: small;
  color: white;
  font-weight:bolder;
}

.mi-hr{
  background-color: rgb(255, 255, 255); 
  height: 1px; 
  border: 0;
 
}