<div class="container position-fixed mb-3 ">
  <div class="row">
      <span class="badge bg-primary text-wrap fs-2">Nutriscore</span>
  </div>
</div>

<div class="container position-fixed">
  <div class="row">

    <nav class="navbar navbar-expand-lg navbar-dark navbar-light bg-primary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" mt-2 collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li><hr class="mi-hr dropdown-divider "/></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Productos
              </a>
              <ul
                class="dropdown-menu border-0 bg-primary"
                aria-labelledby="navbarDropdown"
              >
                
                <li>
                  <a class="dropdown-item" routerLink="/add">Añadir Producto</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" routerLink="/listar-productos"
                    >Listar Producto</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Productos
              </a>
              <ul
                class="dropdown-menu border-0 bg-primary"
                aria-labelledby="navbarDropdown"
              >
                
                <li>
                  <a class="dropdown-item" routerLink="/add">Añadir Producto</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" routerLink="/listar-productos"
                    >Listar Producto</a
                  >
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>

      
      

    </nav>
    
  </div>

  <div class="row mt-5">
    <div class="container-fluid">
      <div class="imagen-portada d-flex justify-content-center align-content-center"  >
        <!--<img class="img-fluid" [src]="imagen" alt="">-->
      </div>
    </div>

  </div>
  
</div>
