<div class="container">

    <div class="row" *ngIf="mostrarSpinner">
      <app-spinner></app-spinner>
    </div>

    <div class="row m-2">
      <div class="form-floating">
        <input class="form-control" type="text" name="miFiltro" id="" [(ngModel)]="miFiltro">
        <label for="miFiltro" style="text-align: right;">Introduce el texto a filtrar</label>
      </div>
    </div>

    <div class="container mb-5">
      <div class="grid-container" >

        <div class="grid-item" *ngFor="let elemento of listaProductos | filtro:miFiltro:pagina">
          <span class="mb-1">{{elemento.nombre}}</span>

          <div>
            <a class="pointer" style="color: #187880" routerLink="/edit/{{elemento.id}}"  > <mat-icon>edit</mat-icon> </a>
            <a class="pointer" style="color: #E15639" (click)="eliminarProducto(elemento.id)"> <mat-icon>delete</mat-icon> </a>
          </div>

          <div class="grid-container-lista">
            <span >Grasas: {{elemento.grasas}}</span>
            <span >Proteinas: {{elemento.proteinas}}</span>
            <span >Calorias: {{elemento.calorias}}</span>
            <span >Hidratos: {{elemento.hidratos}}</span>
            <span >Azucares: {{elemento.azucares}}</span>
          </div>
        </div>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="d-flex justify-content-center">

        <button class="btn mx-3 adelanteatras" (click)="paginaMenos()">Anterior</button>
        <button class="btn mx-3 adelanteatras" (click)="paginaMas()">Siguiente</button>
      </div>
    </div>

  </div>
  <!--
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Grasas</th>
            <th scope="col">Proteinas</th>
            <th scope="col">Calorias</th>
            <th scope="col">Hidratos</th>
            <th scope="col">Azucares</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of listaProductos">
            <span >{{elemento.nombre}}</span>
            <span >{{elemento.grasas}}</span>
            <span >{{elemento.proteinas}}</span>
            <span >{{elemento.calorias}}</span>
            <span >{{elemento.hidratos}}</span>
            <span >{{elemento.azucares}}</span>
            <span>
              <a class="pointer" style="color: #187880" routerLink="/edit/{{elemento.id}}"  > <mat-icon>edit</mat-icon> </a>
              <a class="pointer" style="color: #E15639" (click)="eliminarProducto(elemento.id)"> <mat-icon>delete</mat-icon> </a>
            </span>

          </tr>
        </tbody>
      </table> -->

<!--
<div class="container">
    <table *ngIf="!mostrarSpinner" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <span mat-cell *matCellDef="let element"> {{element.nombre}} </span>
        </ng-container>

        <ng-container matColumnDef="calorias">
          <th mat-header-cell *matHeaderCellDef> Calorias </th>
          <span mat-cell *matCellDef="let element"> {{element.calorias}} </span>
        </ng-container>

        <ng-container matColumnDef="proteinas">
          <th mat-header-cell *matHeaderCellDef> Proteinas </th>
          <span mat-cell *matCellDef="let element"> {{element.proteinas}} </span>
        </ng-container>

        <ng-container matColumnDef="grasas">
          <th mat-header-cell *matHeaderCellDef> Grasas </th>
          <span mat-cell *matCellDef="let element"> {{element.grasas}} </span>
        </ng-container>

        <ng-container matColumnDef="hidratos">
          <th mat-header-cell *matHeaderCellDef> Hidratos </th>
          <span mat-cell *matCellDef="let element"> {{element.hidratos}} </span>
        </ng-container>

        <ng-container matColumnDef="azucares">
          <th mat-header-cell *matHeaderCellDef> Azucares </th>
          <span mat-cell *matCellDef="let element"> {{element.azucares}} </span>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <span mat-cell *matCellDef="let element; let i = index">
            <a class="pointer" style="color: #187880" routerLink="/edit/{{element.id}}"  > <mat-icon>edit</mat-icon> </a>
            <a class="pointer" style="color: #E15639" (click)="eliminarProducto(element.id)"> <mat-icon>delete</mat-icon> </a>
          </span>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>

</div> -->
