table{
    width: auto;
    /* overflow: auto;
    position: fixed, scroll; */

    text-align: center;
}

.pointer{
    cursor: pointer;
}

.grid-container{
    display: grid;
    gap: 4px;
    /* grid-auto-rows: 15rem; */
    grid-template-columns: repeat(auto-fill, minmax(8rem,1fr));
    
}

.grid-item{
    text-align: center;
    border: 1px solid rgb(103, 235, 245, 0.5);
    box-shadow: 3px 3px 3px;
}

.grid-container-lista{
    display: grid;
    grid-template-columns: repeat(auto-fill);
    
}