<div class="container">

    <div class="row" *ngIf="mostrarSpinner">
      <app-spinner></app-spinner>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Grasas</th>
          <th scope="col">Proteinas</th>
          <th scope="col">Calorias</th>
          <th scope="col">Hidratos</th>
          <th scope="col">Azucares</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elemento of listaProductos">
          <td >{{elemento.nombre}}</td>
          <td >{{elemento.grasas}}</td>
          <td >{{elemento.proteinas}}</td>
          <td >{{elemento.calorias}}</td>
          <td >{{elemento.hidratos}}</td>
          <td >{{elemento.azucares}}</td>
          <td>
            <a class="pointer" style="color: #187880" routerLink="/edit/{{elemento.id}}"  > <mat-icon>edit</mat-icon> </a>
            <a class="pointer" style="color: #E15639" (click)="eliminarProducto(elemento.id)"> <mat-icon>delete</mat-icon> </a>
          </td>

        </tr>
      </tbody>
    </table>



    <table *ngIf="!mostrarSpinner" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--<table>-->
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="calorias">
          <th mat-header-cell *matHeaderCellDef> Calorias </th>
          <td mat-cell *matCellDef="let element"> {{element.calorias}} </td>
        </ng-container>

        <ng-container matColumnDef="proteinas">
          <th mat-header-cell *matHeaderCellDef> Proteinas </th>
          <td mat-cell *matCellDef="let element"> {{element.proteinas}} </td>
        </ng-container>

        <ng-container matColumnDef="grasas">
          <th mat-header-cell *matHeaderCellDef> Grasas </th>
          <td mat-cell *matCellDef="let element"> {{element.grasas}} </td>
        </ng-container>

        <ng-container matColumnDef="hidratos">
          <th mat-header-cell *matHeaderCellDef> Hidratos </th>
          <td mat-cell *matCellDef="let element"> {{element.hidratos}} </td>
        </ng-container>

        <ng-container matColumnDef="azucares">
          <th mat-header-cell *matHeaderCellDef> Azucares </th>
          <td mat-cell *matCellDef="let element"> {{element.azucares}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <a class="pointer" style="color: #187880" routerLink="/edit/{{element.id}}"  > <mat-icon>edit</mat-icon> </a>
            <a class="pointer" style="color: #E15639" (click)="eliminarProducto(element.id)"> <mat-icon>delete</mat-icon> </a>
          </td>
        </ng-container>

        <!--
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <div *ngFor="let item of dataSource.data">
          <span>{{item.nombre}}</span>
        </div>-->



        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>


</div>
