<div class="container border rounded shadow block col-lg-12 mt-3 p-3">
  <div class="row">
    <span>Agrega un ingredientes a: {{nombreReceta}}</span>
  </div>
  <form [formGroup]="form">

    <!--SELECT RELLENO CON LOS NOMBRES -->
     <select formControlName="ingrediente" id="ingrediente"  class="form-select" aria-label="Default select example"
      #producto>
        <option selected disabled> </option>
        <option *ngFor="let i of productos">{{i.nombre}} </option>
    </select>
    <div class="form-floating">
      <input formControlName="cantidad" class="form-control mt-3 box" type="number" name="cantidad" id="cantidad" placeholder="Introduce cantidad" #cantidad>
      <label for="cantidad" style="text-align: right;">gramos</label>
    </div>
    <button class="btn btn-primary mt-2" (click)="addNewItem(producto.value, +cantidad.value)" type="button" >Agregar</button>

  </form>

</div>
